@using Lottery.Domain.Entities
@using Lottery.Domain.Enums
@inject IJSRuntime js
<div>
    <ul class="choose-numbers">       
       @foreach (var dozenVolant in GetVolant().DozensList)
       {           
           <li id="@(dozenVolant.VolantId+dozenVolant.Dozen)"
               class="choose-number-item" 
               @onclick="@(() => CheckNumber(dozenVolant.VolantId+dozenVolant.Dozen))">

               @dozenVolant.Dozen
           </li>           
       }
    </ul>
</div>

@code {

    private async Task CheckNumber(string id)
    {
        var isNumberChecked = await js.InvokeAsync<bool>("verifyIfElementIsChecked", id).ConfigureAwait(true);

        if (isNumberChecked)
        {
            await js.InvokeVoidAsync("removeElementAsSelectedById", id).ConfigureAwait(true);
        }
        else
        {
            await js.InvokeVoidAsync("markElementAsSelectedById", id).ConfigureAwait(true);            
        }
    }

    private VolantLottery GetVolant() => new VolantLottery(LotteryTypeEnum.Lotofacil, 1);    
}