@using Lottery.Domain.Entities
@using Lottery.Domain.Enums
@inject IJSRuntime js
<div>
    <div>
        <ul class="choose-numbers">       
           @foreach (var dozenVolant in GetVolant().DozensList)
           {           
               <li id="@(dozenVolant.VolantId+dozenVolant.Dozen)"
                   class="choose-number-item" 
                   @onclick="@(() => CheckNumber(dozenVolant.VolantId+dozenVolant.Dozen))">

                   @dozenVolant.Dozen
               </li>           
           }       
        </ul>
    </div>
    <div>
        @totalSelectedDozens Dezenas selecionadas
    </div>
</div>

@code {
    private int totalSelectedDozens = 0;

    private async Task CheckNumber(string id)
    {
        var isNumberChecked = await js.InvokeAsync<bool>("verifyIfElementIsChecked", id).ConfigureAwait(true);

        if (isNumberChecked)
        {
            await js.InvokeVoidAsync("removeElementAsSelectedById", id).ConfigureAwait(true);
            totalSelectedDozens--;
        }
        else
        {
            await js.InvokeVoidAsync("markElementAsSelectedById", id).ConfigureAwait(true);   
            totalSelectedDozens++;
        }
    }

    private VolantLottery GetVolant() => new VolantLottery(LotteryTypeEnum.Lotofacil, 1);    
}